@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  
  .linksMobile {
    @apply flex flex-col w-full bg-black items-center absolute left-0 top-20 md:sticky md:top-0 md:w-min md:flex-row transition-all duration-700;
  }
  .linksMobileHideNav{
    @apply left-[-100%];
  }
  .linksForDesktop{
    @apply flex flex-row justify-between ;
  }
  .link{
    @apply flex  px-5 cursor-pointer hover:bg-slate-800 ;
  }
}